.blog-item {
    background-color: var(--blog-item);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    height:100%;
    width: 100%;
    margin: 0 auto;
}
.blog-item::before,
.blog-item> .blog-item__border{
    border-radius: inherit;
    content: '';
    height:100%;
    left: 0;
    position: absolute;
    top: 0;
    opacity:0;
    width: 100%;
    z-index:1;
    transition: opacity 500ms;
}
.blog-item::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--blog-circle), transparent 40%);
    z-index:3;
}
.blog-item> .blog-item__border {
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y),var(--blog-border), transparent 40%);
    z-index:1;
}
.blog-item:hover::before
{
    opacity:1;
}
.blog-item > .blog-item__border{
    opacity:1;
}

.blog-item > .blog-item__content{
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border-radius: inherit;
    position: relative;
    margin:1px;
    background: var(--blog-item-container);
    z-index:2;
    padding: 2rem;
}

.blog-item__cover {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    padding:.5rem;
    z-index:3;
}
.blog-item h3{
    margin: .5rem 0 1rem 0;
    flex:1;
}

.blog-item__description {
    position: relative;
    max-height: 50px;
    overflow:hidden;
    font-size:.8rem;
    padding-right: .6rem;
    color: var(--text-color-light);
}

.blog-item__title {
    color: var(--title-color);
}
.blog-item .blog-item__footer {
    display: flex;
    align-items: center;
    margin-top:1rem;
    justify-content: space-between;
}
.blog-item__date {
    font-size: 0.6rem;
    color: var(--text-color-light);
    font-weight: 600;
}
.blog-item__link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}