---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			question: 'Who am I?',
			answer: `Hello 👋 ! My name is Montek and I am a Computer Science Student. I have interest in Machine learning and Cyber Security, you can connect me on Discord, Github and LinkedIn!`,
		},
		{
			question: 'Why did I make this website?',
			answer: `Well, I wanted all my thoughts to be at one place, all my learning and projects! This can help potential learners as I will post how and why I tried to implement a particular thing!`,
		},
		{
			question: "Why Logs and not Blogs?",
			answer: `Hmmm... I just liked using logs as the name, but I would say they are not written as blogs to address the mass people, but as my records of what I did and what mistakes I solved!`,
		},
	],
	[
		{
			question: "Collaboration!?",
			answer: `Yes! I am always ready to help anyone with any problem! I am open to help in any problem of my field and would love to collaborate with you! Feel free to contact me on Github or Discord.`,
		},
		{
			question: 'Tech Stack of this Website?',
			answer: `I made this with a template from onwidget, they make this cool front-end designs do check their Github!
			I used Astro and Tailwind CSS to make this.`
		},
		
	],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				Frequently Asked Questions
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block icon-bold" />
									{question}
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
