.canvas__model {
    width: 400px;
    height: 400px;
}
.home {
    padding-bottom: 8rem;
}
.home__header__section {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    align-items: center;
}
@media (max-width: 540px) {
    .home__header__section {
        display: block;
    }
    .canvas__model{
        margin:50px auto 0  ;
    }
}