@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600;800&display=swap');
:root {
    /* colors  */
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --header-footer-color: #e5dddd;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;
    --mouse-x:0;
    --mouse-y:0;
    /* font and typography  */
    --body-font:  'JetBrains Mono', monospace;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    /* font weight  */
    --font-medium: 500;
    --font-semi-bold: 600;
}

/* Dark theme */

body.dark-theme {
    --title-color: #F2F2F2;
    --text-color: #BFBFBF;
    --header-footer-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2B2B2B;
    --circle-graident: rgba(255,255,255,0.6);
}


*,*::before,*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
}

button, input {
    font-family: var(--body-font)
}

.container {
    max-width: 1140px;
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0;
}

h1 {
    color: var(--text-color)
}
h3 {
    color: var(--text-color)
}
a {
    color: var(--text-color)
}
p {
    color: var(--text-color)
}